body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #FF4141;
    font-size: 24px;
    font-weight: 700;
    font-family: Consolas, monospace;
    animation: typing 2s steps(15) infinite;
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.category-link {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.category-link:hover {
    color: #FF4141;
}

.question-section {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: none;
}

.question-section label {
    display: block;
    margin-bottom: 10px;
}

.question-section select,
.question-section input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.question-section button {
    padding: 10px 20px;
    background-color: #FF4141;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.question-section button:hover {
    background-color: #e60000;
}

#submitButton {
    float: right;
}

#submitButton:last-of-type {
    display: none;
}

#navigationButtons {
    text-align: center;
}

#navigationButtons button {
    margin: 0 10px;
}
